@page "/add" ;
@model RazorPages.Pages.AddPersonModel
@{
    ViewData["Title"] = "Add Product";
}

<h2> Add Person</h2>
<p class="text-end">
    <a href="/products" class="p-2"> View Product </a>
    <a href="/" class="p-2"> Home </a>
</p>

<form method="post">
    <div class="form-group p-2">
        <label for="name" class="p-1">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Enter name" name="product.Name" required minlength="3" maxlength="255" >
    </div>
    <div class="form-group p-2">
        <label for="price" class="p-1">price</label>
        <input type="Number" class="form-control" id="price" placeholder="Enter Price" name="product.price" required min="0" max="100">
    </div>
    <div class="form-group p-2 ">
        <button class="btn-info" type="submit">Add Product</button>
    </div>
</form>

@if (Model.isFailed)
{
    <p class="alert-danger">Unable to add product right now try later</p>
}