@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="mh-100 vh-100 p-0 m-0 text-center ">
    <h1>Product Management System</h1>
    <div class="h-100 d-flex flex-row flex-wrap">
        <div class="w-50 p-0 m-0 h-100  d-flex flex justify-content-center align-items-center">
            <a href="/add" class="text-decoration-none">Add Product</a>
        </div>
        <div class="w-50 h-100 p-0 m-0  d-flex justify-content-center align-items-center">
            <a href="/products" class="text-decoration-none"> View Product</a>
        </div>
    </div>
</div>

